# for Loops



## Example 1
Iterating through a list

In [1]:

list1 = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10


### Mod
The modulo allows us to get the remainder in a division and uses the % symbol.

In [3]:
17 % 5

2

This makes sense since 17 divided by 5 is 3 remainder 2.

In [4]:
# 3 Remainder 1
10 % 3

1

In [5]:
# 2 Remainder 4
18 % 7

4

In [6]:
# 2 no remainder
4 % 2

0



## Example 2

In [7]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

We could have also put an <code>else</code> statement in there:

In [8]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

## Example 3

In [9]:
# Start sum at zero
list_sum = 0 

for num in list1:
    list_sum = list_sum + num

print(list_sum)

55

In [10]:
# Start sum at zero
list_sum = 0 

for num in list1:
    list_sum += num

print(list_sum)

55

## Example 4

In [11]:
for letter in 'This is a string.':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

## Example 5
Let's now look at how a <code>for</code> loop can be used with a tuple:

In [12]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

## Example 6

In [13]:
list2 = [(2,4),(6,8),(10,12)]

In [14]:
for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [15]:
# Now with unpacking!
for (t1,t2) in list2:
    print(t1)

2
6
10

## Example 7

In [16]:
d = {'k1':1,'k2':2,'k3':3}

In [17]:
for item in d:
    print(item)

k1
k2
k3

In [18]:
# Create a dictionary view object
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

Since the .items() method supports iteration, we can perform *dictionary unpacking* to separate keys and values just as we did in the previous examples.

In [19]:
# Dictionary unpacking
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

If you want to obtain a true list of keys, values, or key/value tuples, you can *cast* the view as a list:

In [20]:
list(d.keys())

['k1', 'k2', 'k3']

Remember that dictionaries are unordered, and that keys and values come back in arbitrary order. You can obtain a sorted list using sorted():

In [21]:
sorted(d.values())

[1, 2, 3]